*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.w{
    width: 1347px;
    margin: 0 auto;
}
header{
    background-color: rgba(51, 51, 51);
    height: 85px;
}
nav>ul{
    float: right;
}
.center{
    width: 1200px;
    margin: 0 auto;
}
nav>ul>li{
    width: 130px;
    float: left;
    line-height: 85px;
    font-size: 20px;
    text-align: center;
}
nav>ul>li>a{
    color: white;
}
.center>.logo{
    float: left;
    margin: 10px 0;
}
nav>ul>li:first-child{
    background: #000;
}
nav>ul>li:hover{
    background: #000;
}
/* 轮播图 */
html,
      body {
        position: relative;
        height: 100%;
      }

      

      .swiper {
        width: 100%;
        height: 100%;
      }

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }

      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .lunbo{
        
        height: 600px;
        position: relative;

      }
      .search{

      position: absolute;
        text-indent: 1em;
        top: 200px;
        left: 620px;
        z-index: 100;
        
      }
    .search>.search1{
        border-radius: 25px 0 0 25px;
        width: 300px;
        height: 50px;
        border: 1px solid transparent;
        margin: 16px 0;
        outline: none;
        float: left;
    }
    .search>.search2{
        float: left;
        margin-top: 16px;
        width: 88px;
        height: 52px;
        border: 1px solid transparent;
        border-left: 0px;
        background: rgb(54,165,208);
        border-radius: 0 25px 25px 0;
    }
    main{
        padding-top: 10px;
        clear: both;
    }
    h1,h3{
        text-align: center;
        margin-bottom: 10px;
    }
    h3{
        color: gray;
        font-weight: normal;
    }
    .pic{
        height: 360px;
        width: 435px;
        position: relative;
        border: 1px solid gray;
        margin: 0 10px 10px 0;
        display: inline-block;
    }
    .pic>p{
        color: gray;
    }
    .pic>.s1{
        color: orangered;
        font-weight: bold;
        float: left;
    }
    .pic>.s2{
        color: gray;
        float: right;
    }
    .pic>h4{
        background-color: rgb(69,139,0);
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
        padding: 10px;
        color: white;
    }
.pic3,.pic6,.pic9{
    margin-right: 0;
}
.pic9>img{
    width: 435px;
    height: 280px;
}
.footer1{
    height: 260px;
    background-color: rgb(34, 34, 34);
    padding-top: 10px;
}
.footer_he>dl{
    float: left;
    width: 447px;
    text-align: center;

}
.footer_he>dl>dt{
    font-size: 25px;
    color: white;
    font-weight: bold;
    line-height: 40px;
}
.footer_he>dl>dd{
    line-height: 33px;
    color: rgb(99, 97, 97);
}
.footer_he{
    margin-top: 20px;
    height: 240px;
}
.footer2{
    background: #000;
    height: 50px;
}
.footer2>p{
    text-align: center;
    color: #fff;
    line-height: 50px;
}